
Client/Client/obj/Debug/Client.csproj.FileListAbsolute.txt
Server/Server/obj/Debug/Server.csproj.FileListAbsolute.txt
Client/.vs/Client/v15/Server/sqlite3/db.lock
Client/.vs/Client/v15/Server/sqlite3/storage.ide
Client/.vs/Client/v15/Server/sqlite3/storage.ide-shm
Client/.vs/Client/v15/Server/sqlite3/storage.ide-wal
Client/Client/obj/Debug/Client.csproj.CoreCompileInputs.cache
Client/Client/obj/Debug/Client.csproj.GenerateResource.Cache
Client/Client/obj/Debug/Client.csproj.GenerateResource.Cache
Client/Client/obj/Debug/Client.csproj.GenerateResource.Cache
